<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Book Store App</h3>
            <ul class="nav nav-pills">
                    <li ><a href="/home">List All Books</a></li>
                    <li ><a href="/delete">Delete a Book</a></li>
                    <li class="active"><a href="/create">Create a Book</a></li>
            </ul>
        </div>
        <p></p>
        <br/>
        <div class="container">
                <form action="http://127.0.0.1:3000/create" method="post">
                    <div style="width: 30%" class="form-group">
                        <input  type="text" class="form-control" name="BookID" placeholder="Book ID">
                    </div>
                    <br/>
                    <div style="width: 30%" class="form-group">
                            <input  type="text" class="form-control" name="Title" placeholder="Book Title">
                    </div>
                    <br/>
                    <div style="width: 30%" class="form-group">
                            <input  type="text" class="form-control" name="Author" placeholder="Book Author">
                    </div>
                    <br/>
                    <div style="width: 30%;">
                        <button class="btn btn-success" type="submit">Create</button>
                    </div> 
                </form>
            </div>
    </body>
</html>